.paneBox-outerDiv {
    text-align: center;
    border: 1px solid white;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    animation-name: bounce-in-pane-box;
    animation-duration: 0.3s;
    transition: all 0.3s ease;
}

.paneBox-outerDiv:hover {
    background-image: url('staticBG.png');
}

.paneBox-fineBorder {
    margin: 15px;
    border: 1px solid white;
    transition: all 0.3s ease;

    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.paneBox-fineBorder:hover {
    margin: 10px;
    border: 10px solid orange;

    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
}

.paneBox-title {
    font-family: 'Lobster', cursive;
    color: white;
    text-shadow: 1px 1px 1px black;
}

.paneBox-tagline {
    color: white;
    font-family: monospace;
}

@keyframes fadein {
    0% { opacity: 0; }
    25% { opacity: 0.5; }
    50% { opacity: 0.3; }
    90% { opacity: 0.6; }
    95% { opacity: 0.9; }
    100% { opacity: 1; }
}

@keyframes bounce-in-pane-box {
  0%   { padding-top: 45vh; }
  1%   { padding-top: 44vh; }
  2%   { padding-top: 43vh; }
  9%   { padding-top: 45vh; }
  10%  { padding-top: 42vh; }
  11%  { padding-top: 43vh; }
  12%  { padding-top: 42vh; }

  23%  { padding-top: 41vh; }

  33%  { padding-top: 45vh; }
  34%  { padding-top: 20vh; }
  40%  { padding-top: 10vh; }
  44%  { padding-top: 4vh; }
  60%  { padding-top: 10vh; }
  100%  { padding-top: 0; }
  
}
