@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Lobster|Press+Start+2P');


.vid-section-container {
    border: 1px solid black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #6C2A05;
}

.vid-container-title {
    flex-grow: 1;
    text-align: center;
}

.vid-containter-h1 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 5px 5px 5px black;
    color: white;
    font-size: 15vh;
}

.vid-box-container {
    display: flex;
    flex-flow: row wrap;
    flex-wrap: wrap;
}

.vid-box {
    flex-grow: 1;
    flex-direction: row;
    text-align: center;
    border: 1px solid white;
}

.vid-box-player {
    border: 1px solid white;
}

.vid-box-title {
    font-family: 'Lobster', cursive;
    color: #E29A72;
}

.loading-eggtimer {
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .vid-containter-h1 {
        font-size: 5vh;
    }
}

@media only screen and (max-width: 500px) {
    .vid-containter-h1 {
        font-size: 6vh;
    }

    .vid-box-player {
        width: 380px;
    }
}