@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Lobster|Press+Start+2P');


.mainSiteBanner {
    border: 1px solid black;
    padding-top: 1vh;
    padding-bottom: 1vh;
    background-color: #6C2A05;
}

.mainSiteTitle {
    flex-grow: 1;
    text-align: center;
}

.vid-containter-h1 {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 5px 5px 5px black;
    color: white;
    font-size: 15vh;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4vw;
}

.loading-eggtimer {
    align-items: center;
    text-align: center;
}

@media only screen and (max-width: 800px) {
    .vid-containter-h1 {
        font-size: 5vh;
    }
}

@media only screen and (max-width: 500px) {
    .vid-containter-h1 {
        font-size: 6vh;
    }
}